config/ReactorConfigSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:float" name="powerOutput"/>
                <xs:element type="xs:float" name="maxPowerOutput"/>
                <xs:element type="xs:float" name="powerUpSpeed"/>
                <xs:element type="xs:float" name="powerDownSpeed"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

